# Files and directories created by (Dart) pub
.dart_tool/
.packages
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

*.log

# macOS
.DS_Store

# Android Studio
*.iml
.idea

# Visual Studio Code
.vscode/
