language: dart

dart:
- dev

dart_task:
- test
- dartanalyzer: true
- dartfmt: true

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master]

cache:
  directories:
    - $HOME/.pub-cache
